header{
    width: 100%;
    background-color: aliceblue;
    padding: 1em;
}

.myname{
    font-size: xx-large;
    font: 900;
    color: dimgrey;
    text-align: center;
}

.contacts{
    font-size: medium;
    font: 400;
    color: darkgray;
    text-align: center;
    padding-top: 1em;
}

main{
    width: 100%;
    background-color: rgb(240, 255, 254);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    
}

footer{
    width: 100%;
    background-color: rgb(242, 240, 255);
    padding: 1em;
}
